/*fix for country/topic/search pages*/
.ddp-root .content {
	font-weight: bold;
	color: #111;
	font-size: 18px;
}

/*add Flickr icon*/
.oecd-shared-footer__icon-link.oecd-shared-footer__flickr {
	background: url(/media/dataportal/images/SocialButtons-flickr.png) no-repeat center;
}

/*add oecd direct icon*/
.oecd-shared-footer__icon-link.oecd-shared-footer__oecddirect {
	background: url(/media/dataportal/images/SocialButtons-mailalerts.png) no-repeat center;
}


